    <h2>Origin Path</h2>
    <%= f.input :home_world %>
    <%= f.input :birthright %>
    <%= f.input :lure_of_the_void %>
    <%= f.input :trials_and_travails %>
    <%= f.input :motivation %>
    <%= f.input :career %>
